# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Streamlit
.streamlit/

# OCR / temp
*.log

# OS
.DS_Store

# Vscode
.vscode/

# Optional: large OCR models (EasyOCR downloads these)
.easyocr/